<div class="row bg-body shadow shadow-lg rounded">
  <div class="col-7 p-5 ">

    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
    <!-- <app-osm-map [latitude]="latitude"    -->
  </div>
  <div class="col-5 p-5">
    <div class="card border-1 p-5 bg-body cartcard">
      <h1 style="color : #3d4152; font-weight: bolder;" class="">{{restoIdNames[orderItems[0].restaurantId]}}</h1>
      <div class="" *ngFor="let items of orderItems;index as i">

        <div class="d-flex justify-content-between">
          <div>
            <p style="font-size: small; font-weight:400;">{{items.name}}</p>

            <p class="text-dark">₹ {{items.price }}</p>
          </div>
          <p class="text-muted">X {{items.quantity}}</p>

          <p class="text-dark"> ₹ {{items.price*items.quantity}}</p>
        </div>


      </div>

      <h4 class="text-dark pt-2">Bill Total</h4>
      <div class="d-flex justify-content-between">
        <p class="text-muted">Item Total </p>
        <p class="text-muted">₹ {{totalPrice}}</p>
      </div>
      <div class="d-flex justify-content-between">

        <p class="text-muted">Delivery Fee </p>
        <p class="text-muted">₹ 50</p>
      </div>
      <hr style="border-top: dotted 2px;">
      <div class="d-flex justify-content-between">
        <p class="text-muted">Item Total </p>
        <p class="text-muted">₹ {{totalPrice + 50}}</p>
      </div>
      <div>
        <h3>Delivery Status</h3>
        <p>order is Preparing</p>
        <p>delivery partner accepted the order</p>
        <p>delivery partner reached restaurant</p>
      </div>
    </div>
  </div>
</div>