<section class="footer-wrapper" >
  <div class="top">
    <div>
      <div class="title">Company</div>
      <p class="text-white">About us</p>
      <p class="text-white">Team</p>
      <p class="text-white">Career</p>
      <p class="text-white">Swiggy Blog</p>
      <p class="text-white">Bug Bounty</p>
      <p class="text-white">Swiggy One </p>
      <p class="text-white">Swiggy Corporate</p>
      <p class="text-white">Swiggy Instamart</p>
      <p class="text-white">Swiggy Genie</p>
    </div>
    <div>
      <div class="title">Contact</div>
      <p class="text-white">Help & Support</p>
      <p class="text-white">Partner with us</p>
      <p class="text-white">Ride with us</p>
    </div>
    <div>
      <div class="title">Legal</div>
      <p class="text-white">Terms & Conditions</p>
      <p class="text-white">Refund & Cpncellption</p>
      <p class="text-white">Privacy Policy</p>
      <p class="text-white">Cookie Policy</p>
      <p class="text-white">Offer Terms</p>
      <p class="text-white">Phishing & Fraud</p>
      <p class="text-white">Corporate – Swiggy Money Codes Terms and Conditions</p>
      <p class="text-white">
        Corporate - Swiggy Discount Voucher Terms and Conditions
      </p>
    </div>
    <div>
      <a href=" ">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-AppStore_lg30tv"
          alt="appstore" />
      </a>
      <a href=" ">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-GooglePlay_1_zixjxl"
          alt="playstore" />
      </a>
    </div>
  </div>
  <div class="footer">
    <a href=''>
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_284/Logo_f5xzza" alt="" />
    </a>
    <!-- <div class="socials">
      <Link to={'https://twitter.com/V1V3K__'} target="_blank">
      <FaTwitter class="icon" />
      </Link>
      <Link to={'https://www.linkedin.com/in/vivek9999/'} target="_blank">
      <FaLinkedinIn class="icon" />
      </Link>
      <Link to={'https://instagram.com/ig_v1v3k'} target="_blank">
      <FaInstagram class="icon" />
      </Link>
      <Link to={'https://github.com/GitsOfVivek'} target="_blank">
      <FaGithub class="icon" />
      </Link>
    </div> -->
  </div>
</section>