<div class="container d-flex justify-content-between">
  <div *ngIf="!restaurants">
    <mat-spinner></mat-spinner>

  </div>
  <h1 class="heading" style="font-weight: 500; color : #3d4152;" *ngIf="restaurants&&restaurants.total">{{restaurants.total}} restaurants delivering to your location </h1>

  <div class="d-flex  justify-content-center input-wrapper">
    <input class="border-0" [(ngModel)]="filter" (input)="filterR()"><mat-icon class="mt-2">search</mat-icon>
  </div>

  <input class="btn btn-light" type="button" value="Rating" (click)="filterByRating($event)">
  <input class="btn btn-light" type="button" value="deliveryTime" 
  (click)="filterByDeliveryTime($event)">
  

  <input class="btn btn-light" type="button" value="only Veg" 
  (click)="filterByPopulariy($event)">

  <input class="btn btn-light" type="button" value="clear" 
  (click)="currLocation()">
  
</div>


<div *ngIf="isLoading==false" class="d-flex justify-content-between flex-wrap p-5">
   <div *ngFor="let data of restaurantList">
    
    <app-restaurant [restaurant]="data"></app-restaurant>
  </div>
</div>

<router-outlet></router-outlet>