.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

a{
  text-decoration: none;
} .text-link{
  color: #121416;
  font-weight: 700;
}
.text-link:hover{
  color: #fc8019;
}
.logo-text{
  font-weight: 700;
  color: #3d4152;
  text-transform: uppercase;
  cursor: pointer;
}

.top-img{
  width: 50vw;
  height: 40vw;
}

.phn-img{
  height: 50%;
}
.rip{
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    line-height: 1;
    letter-spacing: -.45px;

}
.logo{
  height : 150px;
   width : 100px;
}
.phninput{
  width: 20vw;
  height: 8vh;
}

.locateme{
  width: 10vw;
  height: 8vh;
}
.findfood{
  width: 10vw;
  height: 8vh;
  background-color:#fc8019;
  font-size: large;
}
.SearchLocation{
  height: 8vh;
}
.loginbutton{
  background-color: #fc8019;
}
mat-form-field{
  width: 25vw !important;
}
mat-input{
  width: 25vw;
}
.template{
  width: 30vw;
}
@media only screen and (max-width: 768px) {
  .logo{
    width: 100px;
    height: 75px;
  }
  .swiggy{
    font-size: large;
  }
}