<div class="d-flex flex-wrap justify-content-evenly bg-dark text-light">
  <div class="ps-5 pe-5 pb-5">
    <div class="d-flex justify-content-center"><img class="mx-5 pb-3"
      src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf"></div>
    <h4 class="text-center">No Minimum Order</h4>
    <h6 class="text-center">Order in for yourself or for the group,</h6>

    <h6 class="text-center"> with no restrictions on order value</h6>
  </div>
  <div class="ps-5 pe-5 pb-5">
    <div class="d-flex justify-content-center">
      <img class="mx-5 pb-3"
      src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_224,h_412/4x_Live_order_zzotwy">
    </div>
    <h4 class="text-center">Live Order Tracking</h4>
    <h6 class="text-center">Know where your order is at all times,</h6>
    <h6 class="text-center"> from the restaurant to your doorstep</h6>
  </div>
  <div class="ps-5 pb-5">
    <div class="d-flex justify-content-center">
      <img class="mx-5 pb-5"
      src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_248,h_376/4x_-_Super_fast_delivery_awv7sn">
    </div>
    <h4 class="text-center">Lightning-Fast Delivery</h4>
    <h6 class="text-center">Experience Swiggy's superfast delivery</h6><h6 class="text-center"> for food delivered fresh & on time</h6>
  </div>
</div>